@{
    ViewBag.Title = "aboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About Us</h2>
This is an online shopping site for mobiles. This site will update you with the latest mobile pricess
and mobile features.
For any other query Contact Pak_Mobile@yahoo.com 