@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Contact Us</h2>
 <table>
        <tr>
            <td>
                <b>Name:</b>
            </td>
            <td>
                
            </td>
            <td>
                <b>M.Zohaib-ud-din</b>
            </td>
        </tr>
        <tr>
           <td>
                <br />
           </td>
        </tr>
        <tr>
            <td>
                <b>Contact No:</b>
            </td>
            <td>
                
            </td>
            <td>
                <b>0322-6131664</b>
            </td>
        </tr>
     <tr>
           <td>
                <br />
           </td>
        </tr>
        <tr>
        <td>
             <b>Send me an E-Mail</b>
        </td>
            <td>
                &nbsp&nbsp
            </td>
         <td>
             <p style="color:blue">bsef11m051@pucit.edu.pk</p>
        </td>
        </tr>
</table>  