@{
    ViewBag.Title = "forgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="post" action="~/User/forgotPassword" onsubmit="return f()">
 <table>
    <tr>
        <td>
        <br />
        </td>
    </tr>
    <tr>
        <td>
        Enter Email:
        </td>
        <td>
        <input type="text" Name="email"/>
        </td>
    </tr>
    <tr>
        <td>
        <br />
        </td>
    </tr>
    
    <tr>
        <td>
            Enter passward:
        </td>
        <td>
            <input type="password" Name="pwd"/>
        </td>
    </tr>
    <tr>
        <td>
        <br />
        </td>
    </tr>
    <tr>
        <td>
            Confirm passward:
        </td>
        <td>
            <input type="password" Name="cpwd"/>            
        </td>
    </tr>
    <tr>
        <td>
        <br />
        </td>
    </tr>
</table>
<input type="submit" style="margin-left:150px" class="btn btn-login" />
</form>